---
import Hero from '../components/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---




<BaseLayout title="Page Not Found" description="404 Error — this page was not found">
	
	<div class="container">
	  <h1 id="error">404</h1>
	  
	  <p>Page not found</p>
	</div>
  </BaseLayout>
  
  <style>
	.container {
	  display:flex;
	  flex-direction:column;
	  align-items: center;
	  justify-content: center;
	  animation: shake 0.8s ease-in-out infinite alternate;
	  
	}
	
  
	@keyframes shake {
	  0% {
		margin-left: 10px;
		margin-right: 0px;
		color: red;
	  }
	  25% {
		margin-left: 10px;
		margin-right: 0px;
		color: rgb(241, 16, 196);
	  }
	  50% {
		margin-left: 0px;
		margin-right: 10px;
		color: blue;
	  }
	  75% {
		margin-left: 10px;
		margin-right: 0px;
		color: rgba(252, 252, 4, 0.954);
	  }
	  100% {
		margin-left: 10px;
		margin-right: 0px;
		color: green;
	  }
	}
  
	h1 {
	  font-size: 8rem;
	  margin: 0;
	}
  
	p {
	  font-size: 3rem;
	  margin: 0;
	  
	}
  </style>